#profile-pic{
    width: 13rem;
    height: 13rem;
    margin:2rem;
    clip-path: circle( at center);
    position: relative;
    top: 1px;
    left: 10rem;

}
#username{
    position: relative;
    left: 1rem;
    top: 1rem;
}
#follow-box{
    display: contents;
    background-color: rgb(245, 245, 255);
    width: 27rem;
    height: 10rem;
    position: relative;
    left: 14rem;
    top: 4rem;

}
#content{
    margin: 1rem;
align-items: center;

}
.child-follow-box{
    position: absolute;
    top: 2rem;
}
.line{
    height: 1.7px;
    width: 90rem;
    background-color: rgb(231, 231, 231);
}
.layout {
    width: 200px !important;
    height: 90px !important;

    display: grid;
    grid-template-rows: repeat(2, 30px);
    grid-template-columns: repeat(2, 200px);
    gap: 8px;
  }

  .inputc {
    width: 24rem !important ;
    
    margin-top: 0px !important;
    position: absolute;
    top: -1rem;
    color: #000000;
    font-size: 0.9rem;
    background-color: transparent;

    
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
   }
   /* styling of animated border */
   .cinput-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
   }
   

#post-dot{
    width: 2rem; ;
    height: 3rem;
    position: relative;
    left:23rem ;
}
#post-box{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 28rem;
    border-radius: 10px;
    position: relative;
    left: 30%;

}
#post{
    width: 28rem;
    height: 25rem;
   border-radius: 0.5rem;

}
.post-username{
    display: flex;
    align-items: center;
    margin: 1rem;
}
.save{
    position: relative;
    left: 16rem ;
}